{{#if metingen}}
<h3>Latest 10 metings</h3>
<div class="card mx-auto mt-5" style="max-width: 600px;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th> Temperature (°C)</th>
                <th> Created At </th>
            </tr>
        </thead>
        <tbody>
            {{#each metingen}}
            <tr>
                <td>{{this.temperature}}</td>
                <td>{{toLocaleString this.createdAt}}</td>
            </tr>
            {{/each}}


        </tbody>
    </table>
</div>
{{/if}}